In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from linearmodels.iv import IV2SLS
from statsmodels.iolib.table import (SimpleTable, default_txt_fmt)
from statsmodels.iolib.summary2 import summary_col

1)Estimatethefractionsofcompliers,alwaystakersandnevertakersinmonths15,20,24,48

In [2]:
df = pd.read_csv('welfare.csv')

In [3]:
X = df[['imm', 'hsgrad','agelt25','age35p','working_at_baseline','anykidsu6','nevermarried']]

In [4]:
df.head()

,imm,hsgrad,agelt25,age35p,treatment,working_at_baseline,anykidsu6,nevermarried,ft15,ft20,ft24,ft48,welfare15,welfare20,welfare24,welfare48
0,0,0,0,0,1,0,1,1,0,0.0,0.0,0.0,1,1,1,1
1,0,1,0,1,1,0,0,1,1,1.0,1.0,NaN,0,0,0,0
2,0,0,0,0,1,0,0,1,0,0.0,0.0,0.0,1,1,1,0
3,0,0,0,0,0,1,0,0,0,0.0,0.0,0.0,1,0,0,0
4,0,1,0,0,0,0,1,1,0,0.0,0.0,0.0,1,1,1,1

In [5]:
control_proportion = df[df['treatment'] == 0].mean()[['ft15','ft20','ft24','ft48']]
treatment_proportion =  df[df['treatment'] == 1].mean()[['ft15','ft20','ft24','ft48']]

In [6]:
proportion = np.vstack([df[df['treatment'] == 0].mean()[['ft15','ft20','ft24','ft48']],\
                                df[df['treatment'] == 1].mean()[['ft15','ft20','ft24','ft48']]]).round(4)


col = ['ft15', 'ft20', 'ft24','ft48']
row = ['control', "treatment"]

summary_second_stage3 = SimpleTable(proportion,col, row, txt_fmt=default_txt_fmt)
print(summary_second_stage3)

=====================================
           ft15   ft20   ft24   ft48
-------------------------------------
control   0.1472 0.1609 0.1602 0.2337
treatment 0.2846 0.2755 0.2676 0.2842
-------------------------------------

In [7]:
never_takers = 1 - proportion[1].T
always_takers = proportion[0]
compliers = proportion[1].T - proportion[0].T

Write about the probablities of always takers, compliers and never takers.

In [8]:
summary_fractions = np.vstack([[never_takers], [always_takers],[compliers]]).round(4)
col = ['ft15', 'ft20', 'ft24','ft48']
row = ['Never Takers', "Always Takers", 'Compliers']
summary_of_NAC = SimpleTable(summary_fractions, col, row, title =\
                            'The Fractions of Compliers, Always Takers and Never Takers In Months: 15,20,24,48')
print(summary_of_NAC)

The Fractions of Compliers, Always Takers and Never Takers In Months: 15,20,24,48
=========================================
               ft15   ft20   ft24   ft48
-----------------------------------------
Never Takers  0.7154 0.7245 0.7324 0.7158
Always Takers 0.1472 0.1609 0.1602 0.2337
Compliers     0.1374 0.1146 0.1074 0.0505
-----------------------------------------

{imm,hsgrad,agelt25,age35p,working_at_baseline,anykidsu6,nevermarried}

In [14]:
X = ['imm', 'hsgrad','agelt25','age35p','working_at_baseline','anykidsu6','nevermarried']
z = ['ft15','ft20','ft24','ft48']

In [74]:
result = {}
result1 = {}
for i in z:
    for j in X:
        reg = sm.OLS(df[j]*df[i], sm.add_constant(df[i]),'drop').fit()
        reg1 = sm.OLS(df[i], sm.add_constant(df['treatment']), missing = 'drop' ).fit()
        result1[j] = reg1.params[1] / reg.params[1]
    result[i] = result1

In [80]:
summl = pd.DataFrame(result)

In [82]:
print(summl)

                         ft15      ft20      ft24      ft48
age35p               0.175258  0.175258  0.175258  0.175258
agelt25              0.259990  0.259990  0.259990  0.259990
anykidsu6            0.095911  0.095911  0.095911  0.095911
hsgrad               0.083556  0.083556  0.083556  0.083556
imm                  0.413931  0.413931  0.413931  0.413931
nevermarried         0.100829  0.100829  0.100829  0.100829
working_at_baseline  0.159285  0.159285  0.159285  0.159285