In [82]:
import pandas as pd
import numpy as np
import scipy as sp
import statsmodels.api as sm
from sklearn import preprocessing

In [83]:
df = pd.read_csv('apgar.csv')
df.dropna(inplace = True)
df.head()

   apgar5  bthwght  height
0     9.0     3365      62
1     9.0     3033      62
2     9.0     3005      68
3     9.0     2948      63
4     8.0     3260      62

In [84]:
df['norm_birth'] = preprocessing.scale(df['bthwght'])
df = df.assign(apg8 = np.where(df['apgar5'] <= 8, 1,0))

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)

In [85]:
X = pd.DataFrame()
X['1-degree'] = df['norm_birth']
X['2-degree'] = X['1-degree']**2
X['3-degree'] = X['1-degree']**3
X['4-degree'] = X['1-degree']**4
X['5-degree'] = X['1-degree']**5
X['6-degree'] = X['1-degree']**6
X = X.assign(low = np.where(X['1-degree'] < -2, 1,0))
X = X.assign(high = np.where(X['1-degree'] > 2, 1,0))
X = sm.add_constant(X)
Y = df['apg8']
X['height'] = df['height']

In [86]:
model1 = sm.OLS(Y, X.iloc[:,0:2]).fit()
model2 = sm.OLS(Y, X.iloc[:,0:3]).fit()
model3 = sm.OLS(Y, X.iloc[:,0:4]).fit()
model4 = sm.OLS(Y, X.iloc[:,0:5]).fit()
model5 = sm.OLS(Y, X.iloc[:,0:6]).fit()
model6 = sm.OLS(Y, X.iloc[:,0:7]).fit()
model7 = sm.OLS(Y, X[['1-degree','2-degree','3-degree',\
                             '4-degree', '1-degree',\
                      'high','low','const']]).fit()
model8 = sm.OLS(Y, X[['const','1-degree','2-degree','3-degree',\
                     '4-degree','height']]).fit()

In [87]:
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

In [88]:
models = [model1,model2,model3,model4,model5,model6,model7, model8]
model_name =['model1','model2','model3','model4','model5','model6','model7','model8']

In [89]:
models = [model1,model2,model3,model4,\
          model5,model6,model7, model8]
model_name =['model1','model2','model3',\
             'model4','model5','model6','model7','model8']

model_rmse = []
for i, j in zip(models,model_name):
    model_rmse.append(rmse(i.predict(),Y))

In [90]:
model_rmse = list(zip(model_rmse,model_name))

In [97]:
rmses = pd.DataFrame(model_rmse, columns = {'model','rmse'})
rmses = rmses.set_index('model')

In [100]:
print(rmses.sort_values(by = 'rmse'))

            rmse
model
model8  0.252436
model6  0.252445
model5  0.252445
model7  0.252445
model4  0.252447
model3  0.252464
model2  0.252490
model1  0.252585