In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import statsmodels.api as sm

In [3]:
df = pd.read_csv("ovb.csv")
df["const"] = 1
df.head()

,state,age,wagesal,imm,hispanic,black,asian,educ,wage,logwage,female,fedwkr,statewkr,localwkr,const
0,11,44,18000,0,0,0,0,14,9.109312,2.209297,1,1,0,0,1
1,11,39,18000,0,0,0,0,14,18.000000,2.890372,0,0,0,0,1
2,11,39,35600,0,0,0,0,12,17.115385,2.839978,0,0,0,1,1
3,11,39,8000,0,0,0,0,14,5.128205,1.634756,1,0,0,0,1
4,11,39,100000,0,0,0,0,16,38.461538,3.649659,0,1,0,0,1

In [20]:
dfwomen = df[df.female == 1]
dfmen = df[df.female == 1]

## Logwage=constant, immigrantstatus

In [5]:
reg1 = sm.OLS(endog=dfwomen['logwage'], exog=dfwomen[['const', 'imm']],)
results = reg1.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                logwage   R-squared:                       0.011
Model:                            OLS   Adj. R-squared:                  0.011
Method:                 Least Squares   F-statistic:                     118.5
Date:                Tue, 12 Feb 2019   Prob (F-statistic):           1.85e-27
Time:                        15:49:19   Log-Likelihood:                -10701.
No. Observations:               10601   AIC:                         2.141e+04
Df Residuals:                   10599   BIC:                         2.142e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.8864      0.007    403.480      0.000       2.872       2.900
imm           -0.1800      0.017    -10.887      0.000      -0.212      -0.148
==============================================================================
Omnibus:                      353.044   Durbin-Watson:                   1.837
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              538.131
Skew:                           0.324   Prob(JB):                    1.40e-117
Kurtosis:                       3.893   Cond. No.                         2.67
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## logwage=constant,education

In [6]:
reg2 = sm.OLS(endog=dfwomen['logwage'], exog=dfwomen[['const', 'educ']])
results = reg2.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                logwage   R-squared:                       0.224
Model:                            OLS   Adj. R-squared:                  0.224
Method:                 Least Squares   F-statistic:                     3058.
Date:                Tue, 12 Feb 2019   Prob (F-statistic):               0.00
Time:                        15:50:44   Log-Likelihood:                -9416.2
No. Observations:               10601   AIC:                         1.884e+04
Df Residuals:                   10599   BIC:                         1.885e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.2349      0.030     41.423      0.000       1.176       1.293
educ           0.1142      0.002     55.295      0.000       0.110       0.118
==============================================================================
Omnibus:                      523.044   Durbin-Watson:                   1.903
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1536.593
Skew:                           0.218   Prob(JB):                         0.00
Kurtosis:                       4.814   Cond. No.                         75.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

 ## immigrantstatus=constant,education

In [8]:
reg3 = sm.OLS(endog=dfwomen['imm'], exog=dfwomen[['const', 'educ']])
results = reg3.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    imm   R-squared:                       0.044
Model:                            OLS   Adj. R-squared:                  0.044
Method:                 Least Squares   F-statistic:                     490.6
Date:                Tue, 12 Feb 2019   Prob (F-statistic):          2.65e-106
Time:                        15:52:01   Log-Likelihood:                -4823.3
No. Observations:               10601   AIC:                             9651.
Df Residuals:                   10599   BIC:                             9665.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6074      0.019     31.426      0.000       0.570       0.645
educ          -0.0296      0.001    -22.150      0.000      -0.032      -0.027
==============================================================================
Omnibus:                     2450.883   Durbin-Watson:                   1.627
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4529.303
Skew:                           1.562   Prob(JB):                         0.00
Kurtosis:                       3.703   Cond. No.                         75.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## education=constant,immigrantstatus

In [9]:
reg4 = sm.OLS(endog=dfwomen['educ'], exog=dfwomen[['const', 'imm']])
results = reg4.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   educ   R-squared:                       0.044
Model:                            OLS   Adj. R-squared:                  0.044
Method:                 Least Squares   F-statistic:                     490.6
Date:                Tue, 12 Feb 2019   Prob (F-statistic):          2.65e-106
Time:                        15:52:19   Log-Likelihood:                -25593.
No. Observations:               10601   AIC:                         5.119e+04
Df Residuals:                   10599   BIC:                         5.121e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         14.4518      0.029    495.764      0.000      14.395      14.509
imm           -1.4921      0.067    -22.150      0.000      -1.624      -1.360
==============================================================================
Omnibus:                      192.404   Durbin-Watson:                   1.794
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              337.974
Skew:                          -0.141   Prob(JB):                     4.07e-74
Kurtosis:                       3.828   Cond. No.                         2.67
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## logwage=constant,education,immigrantstatus

In [7]:
reg5 = sm.OLS(endog=dfwomen['logwage'], exog=dfwomen[['const', 'educ', 'imm']])
results = reg5.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                logwage   R-squared:                       0.224
Model:                            OLS   Adj. R-squared:                  0.224
Method:                 Least Squares   F-statistic:                     1529.
Date:                Tue, 12 Feb 2019   Prob (F-statistic):               0.00
Time:                        15:51:07   Log-Likelihood:                -9416.0
No. Observations:               10601   AIC:                         1.884e+04
Df Residuals:                   10598   BIC:                         1.886e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.2410      0.031     39.814      0.000       1.180       1.302
educ           0.1139      0.002     53.915      0.000       0.110       0.118
imm           -0.0101      0.015     -0.674      0.500      -0.039       0.019
==============================================================================
Omnibus:                      524.288   Durbin-Watson:                   1.902
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1540.333
Skew:                           0.219   Prob(JB):                         0.00
Kurtosis:                       4.816   Cond. No.                         80.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [31]:
asian_df = df[df.asian == 1]
asian_df = asian_df[asian_df.imm == 1]

## Women

In [19]:
dfwomen_asian = df[df['asian'] == 1 & df['imm']==1]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [18]:
dfwomen_asian[df['imm']== 1]

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,state,age,wagesal,imm,hispanic,black,asian,educ,wage,logwage,female,fedwkr,statewkr,localwkr,const
175,11,44,31000,1,0,0,1,12,14.903846,2.701619,0,0,0,0,1
176,11,43,50000,1,0,0,1,12,26.709402,3.285016,1,0,0,0,1
282,11,42,55500,1,0,0,1,18,26.682692,3.284015,1,0,0,0,1
283,11,42,84588,1,0,0,1,20,40.667308,3.705425,0,0,0,0,1
464,12,39,55000,1,0,0,1,16,26.442308,3.274965,1,0,0,0,1
465,12,44,47000,1,0,0,1,16,22.596154,3.117780,0,0,0,0,1
487,12,35,350000,1,0,0,1,16,112.179487,4.720100,0,0,0,0,1
512,12,38,60000,1,0,0,1,20,28.846154,3.361977,0,0,0,0,1
622,12,42,76000,1,0,0,1,16,36.538462,3.598365,1,0,0,0,1
640,12,43,27000,1,0,0,1,14,19.285714,2.959365,0,0,0,0,1
657,12,39,60000,1,0,0,1,18,28.846154,3.361977,0,0,0,0,1
667,12,39,106000,1,0,0,1,16,77.941176,4.355954,0,0,0,0,1
668,12,38,110000,1,0,0,1,18,58.760684,4.073473,1,0,0,0,1
724,12,36,160000,1,0,0,1,18,61.538462,4.119662,0,0,0,0,1
756,12,40,52000,1,0,0,1,13,25.000000,3.218876,1,0,0,0,1
777,12,37,9000,1,0,0,1,16,7.211538,1.975682,1,0,0,0,1
995,13,40,4000,1,0,0,1,12,10.000000,2.302585,1,0,1,0,1
1076,13,42,60000,1,0,0,1,14,28.985507,3.366796,1,0,0,0,1
1089,13,42,9000,1,0,0,1,3,10.714286,2.371578,1,0,0,0,1
1138,14,37,68000,1,0,0,1,18,32.692308,3.487140,1,0,1,0,1
1139,14,35,82000,1,0,0,1,20,39.423077,3.674351,0,0,1,0,1
1199,14,36,6000,1,0,0,1,9,4.000000,1.386294,0,0,0,0,1
1214,14,43,90000,1,0,0,1,18,43.269231,3.767442,1,0,0,0,1
1215,14,36,85000,1,0,0,1,18,44.270833,3.790326,1,0,0,0,1
1216,14,41,300000,1,0,0,1,18,144.230769,4.971415,0,0,0,0,1
1223,14,38,32000,1,0,0,1,13,11.834320,2.471004,0,0,0,0,1
1238,14,42,42000,1,0,0,1,14,30.545455,3.419216,0,0,0,0,1
1252,14,41,24000,1,0,0,1,16,11.538462,2.445686,0,0,0,0,1
1261,14,43,24000,1,0,0,1,16,11.538462,2.445686,0,0,0,0,1
1266,14,43,33000,1,1,0,1,16,15.865385,2.764140,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21778,95,44,10000,1,0,0,1,3,4.807692,1.570217,0,0,0,0,1
21779,95,41,30000,1,0,0,1,8,14.423077,2.668829,1,0,0,0,1
21781,95,39,35000,1,0,0,1,12,16.826923,2.822980,1,0,0,0,1
21782,95,39,35000,1,0,0,1,12,11.217949,2.417515,0,0,0,0,1
21802,95,44,45000,1,0,0,1,18,21.634615,3.074295,1,0,1,0,1
21804,95,44,18454,1,0,0,1,14,8.872115,2.182913,1,0,0,0,1
21809,95,39,30000,1,0,0,1,16,14.423077,2.668829,1,0,0,0,1
21811,95,38,80000,1,0,0,1,16,42.735043,3.755019,1,0,0,0,1
21813,95,41,23500,1,0,0,1,14,14.122596,2.647776,1,0,0,0,1
21814,95,37,14000,1,0,0,1,13,6.730769,1.906689,1,0,0,0,1
21815,95,35,25000,1,0,0,1,13,12.019231,2.486508,0,0,0,0,1
21816,95,36,25000,1,0,0,1,12,12.019231,2.486508,0,0,0,0,1
21819,95,43,30000,1,0,0,1,13,11.538462,2.445686,1,0,0,0,1
21820,95,39,30000,1,0,0,1,14,14.423077,2.668829,1,0,0,0,1
21823,95,38,10000,1,0,0,1,16,12.820513,2.551046,1,0,0,0,1
21829,95,41,3000,1,0,0,1,12,4.000000,1.386294,0,0,0,0,1
21832,95,41,57000,1,0,0,1,14,15.659341,2.751068,0,0,0,0,1
21837,95,37,18000,1,0,0,1,13,11.538462,2.445686,1,0,0,0,1
21838,95,37,18000,1,0,0,1,12,11.538462,2.445686,0,0,0,0,1
21846,95,38,800,1,0,0,1,13,33.333333,3.506558,0,0,0,0,1
21853,95,39,15000,1,0,0,1,12,7.211538,1.975682,0,0,0,0,1
21856,95,39,27000,1,0,0,1,12,12.980769,2.563469,1,0,0,0,1
21858,95,40,18000,1,0,0,1,12,8.653846,2.158004,0,0,0,0,1
21871,95,43,37000,1,0,0,1,16,17.788462,2.878550,1,0,0,0,1
21872,95,44,30000,1,0,0,1,14,26.785714,3.287869,1,0,0,0,1
21878,95,42,35000,1,0,0,1,14,16.826923,2.822980,0,0,0,0,1
21883,95,37,3000,1,0,0,1,13,4.000000,1.386294,0,0,0,0,1
21884,95,40,3000,1,0,0,1,13,4.000000,1.386294,1,0,0,0,1
21901,95,37,15600,1,0,0,1,12,7.500000,2.014903,0,0,0,0,1
21906,95,44,50000,1,0,0,1,20,24.038462,3.179655,1,0,1,0,1