## Part 2

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import statsmodels.api as sm
from stargazer.stargazer import Stargazer
import tabulate as tb
from statsmodels.iolib.summary2 import summary_col
import statsmodels.formula.api as smf

In [28]:
df = pd.read_csv("ovb.csv")
df["const"] = 1
df.head()

,state,age,wagesal,imm,hispanic,black,asian,educ,wage,logwage,female,fedwkr,statewkr,localwkr,const
0,11,44,18000,0,0,0,0,14,9.109312,2.209297,1,1,0,0,1
1,11,39,18000,0,0,0,0,14,18.000000,2.890372,0,0,0,0,1
2,11,39,35600,0,0,0,0,12,17.115385,2.839978,0,0,0,1,1
3,11,39,8000,0,0,0,0,14,5.128205,1.634756,1,0,0,0,1
4,11,39,100000,0,0,0,0,16,38.461538,3.649659,0,1,0,0,1

## a)

The true model follows:
$$logwage = \beta_{0} +\beta_{1}imm +\beta_{2}educ$$
            
            
Using the ommited variable formula for immigration will stem:

$$logwage = (\beta_{0} + \pi_{0}\beta_{2}) + (\beta_{1}+\pi_{1}\beta_{2}) imm$$

B)

In [29]:
dfwomen = df[df.female == 1]
dfmen = df[df.female == 0]

In [30]:
## Women

In [31]:
reg1 = sm.OLS(endog=dfwomen['logwage'], exog=dfwomen[['const', 'imm']],)
results = reg1.fit()


reg2 = sm.OLS(endog=dfwomen['logwage'], exog=dfwomen[['const', 'educ']])
results2 = reg2.fit()

reg3 = sm.OLS(endog=dfwomen['imm'], exog=dfwomen[['const', 'educ']])
results3 = reg3.fit()

reg4 = sm.OLS(endog=dfwomen['educ'], exog=dfwomen[['const', 'imm']])
results4 = reg4.fit()

reg5 = sm.OLS(endog=dfwomen['logwage'], exog=dfwomen[['const', 'educ', 'imm']])
results5 = reg5.fit()

##men

In [32]:
reg6 = sm.OLS(endog=dfmen['logwage'], exog=dfmen[['const', 'imm']],)
results6 = reg6.fit()


reg7 = sm.OLS(endog=dfmen['logwage'], exog=dfmen[['const', 'educ']])
results7 = reg7.fit()

reg8 = sm.OLS(endog=dfmen['imm'], exog=dfmen[['const', 'educ']])
results8 = reg8.fit()

reg9 = sm.OLS(endog=dfmen['educ'], exog=dfmen[['const', 'imm']])
results9 = reg9.fit()

reg10 = sm.OLS(endog=dfmen['logwage'], exog=dfmen[['const', 'educ', 'imm']])
results10 = reg10.fit()

## Grouping gender by ethninicty

In [43]:
## Women
##Women: Asian = 1, hispanic = 1, imm = 1
wasian = dfwomen[(dfwomen.asian == 1) & (dfwomen.imm == 1) & (dfwomen.hispanic == 0)]

#Women: Hispanic = 1, imm = 1
whisp = dfwomen[(dfwomen.hispanic == 1) & (dfwomen.imm== 1)]

#Women: Other
wother = dfwomen[(dfwomen.black == 1) & (dfwomen.imm == 1)]

In [34]:
#Men

#Men: Asian = 1, hispanicn = 1, imm = 1
wasian1 = dfmen[(dfmen.asian == 1) & (dfmen.imm == 1) & (dfmen.hispanic == 0)]

#Men: Hispanic = 1, imm = 1
whisp1 = dfmen[(dfmen.hispanic == 1) & (dfmen.imm== 1)]

#Men: Other
wother1 = dfmen[(dfmen.black == 1) & (dfmen.imm == 1)]

state       523
age         523
wagesal     523
imm         523
hispanic    523
black       523
asian       523
educ        523
wage        523
logwage     523
female      523
fedwkr      523
statewkr    523
localwkr    523
const       523
dtype: int64

## Regression for ethnicity

In [36]:
##Women

In [37]:
##Women
reg11 = sm.OLS(endog=wasian['logwage'], exog=wasian[['const', 'imm']],)
results11 = reg11.fit()


reg12 = sm.OLS(endog=wasian['logwage'], exog=wasian[['const', 'educ']])
results12 = reg12.fit()

reg13 = sm.OLS(endog=wasian['imm'], exog=wasian[['const', 'educ']])
results13 = reg8.fit()

reg14 = sm.OLS(endog=wasian['educ'], exog=wasian[['const', 'imm']])
results14 = reg14.fit()

reg15 = sm.OLS(endog=wasian['logwage'], exog=wasian[['const', 'educ', 'imm']])
results15 = reg15.fit()

results15.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                logwage   R-squared:                       0.292
Model:                            OLS   Adj. R-squared:                  0.291
Method:                 Least Squares   F-statistic:                     214.8
Date:                Wed, 13 Feb 2019   Prob (F-statistic):           5.64e-41
Time:                        21:19:39   Log-Likelihood:                -518.80
No. Observations:                 523   AIC:                             1042.
Df Residuals:                     521   BIC:                             1050.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.4502      0.072      6.243      0.000       0.309       0.592
educ           0.1385      0.009     14.657      0.000       0.120       0.157
imm            0.4502      0.072      6.243      0.000       0.309       0.592
==============================================================================
Omnibus:                       40.544   Durbin-Watson:                   1.969
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              107.226
Skew:                           0.369   Prob(JB):                     5.20e-24
Kurtosis:                       5.092   Cond. No.                     3.56e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 9.69e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [38]:
reg17 = sm.OLS(endog=whisp['logwage'], exog=whisp[['const', 'imm']],)
results17 = reg17.fit()


reg18 = sm.OLS(endog=whisp['logwage'], exog=whisp[['const', 'educ']])
results18 = reg18.fit()

reg19 = sm.OLS(endog=whisp['imm'], exog=whisp[['const', 'educ']])
results19 = reg19.fit()

reg20 = sm.OLS(endog=whisp['educ'], exog=whisp[['const', 'imm']])
results20 = reg20.fit()

reg21 = sm.OLS(endog=whisp['logwage'], exog=whisp[['const', 'educ', 'imm']])
results21 = reg21.fit()

In [39]:
print(summary_col([results,results2,results3, results4, results5],stars=True,float_format='%0.2f', regressor_order=['black'],
                  model_names = ['(1)','(2)','(3)','(4)','(5)'], info_dict={'N':lambda x: "{0:d}".format(int(x.nobs)),
                             'R2':lambda x: "{:.2f}".format(x.rsquared)}).as_latex())

\begin{table}
\caption{}
\begin{center}
\begin{tabular}{lccccc}
\hline
      &   (1)    &   (2)   &   (3)    &   (4)    &   (5)    \\
\midrule
\midrule
const & 2.89***  & 1.23*** & 0.61***  & 14.45*** & 1.24***  \\
      & (0.01)   & (0.03)  & (0.02)   & (0.03)   & (0.03)   \\
educ  &          & 0.11*** & -0.03*** &          & 0.11***  \\
      &          & (0.00)  & (0.00)   &          & (0.00)   \\
imm   & -0.18*** &         &          & -1.49*** & -0.01    \\
      & (0.02)   &         &          & (0.07)   & (0.01)   \\
N     & 10601    & 10601   & 10601    & 10601    & 10601    \\
R2    & 0.01     & 0.22    & 0.04     & 0.04     & 0.22     \\
\hline
\end{tabular}
\end{center}
\end{table}

In [40]:
print(summary_col([results6,results7,results8, results9, results10],stars=True,float_format='%0.2f', regressor_order=['black'],
                  model_names = ['(1)','(2)','(3)','(4)','(5)'], info_dict={'N':lambda x: "{0:d}".format(int(x.nobs)),
                             'R2':lambda x: "{:.2f}".format(x.rsquared)}).as_latex())

\begin{table}
\caption{}
\begin{center}
\begin{tabular}{lccccc}
\hline
      &   (1)    &   (2)   &   (3)    &   (4)    &   (5)     \\
\midrule
\midrule
const & 3.16***  & 1.61*** & 0.64***  & 14.19*** & 1.66***   \\
      & (0.01)   & (0.03)  & (0.02)   & (0.03)   & (0.03)    \\
educ  &          & 0.11*** & -0.03*** &          & 0.11***   \\
      &          & (0.00)  & (0.00)   &          & (0.00)    \\
imm   & -0.24*** &         &          & -1.61*** & -0.07***  \\
      & (0.02)   &         &          & (0.07)   & (0.01)    \\
N     & 11306    & 11306   & 11306    & 11306    & 11306     \\
R2    & 0.02     & 0.22    & 0.05     & 0.05     & 0.22      \\
\hline
\end{tabular}
\end{center}
\end{table}

In [41]:
print(summary_col([results11,results12,results13, results14, results15],stars=True,float_format='%0.2f', regressor_order=['black'],
                  model_names = ['(1)','(2)','(3)','(4)','(5)'], info_dict={'N':lambda x: "{0:d}".format(int(x.nobs)),
                             'R2':lambda x: "{:.2f}".format(x.rsquared)}).as_latex())

\begin{table}
\caption{}
\begin{center}
\begin{tabular}{lccccc}
\hline
      &   (1)   &   (2)   &   (3)    &   (4)   &   (5)    \\
\midrule
\midrule
const & 1.49*** & 0.90*** & 0.64***  & 7.48*** & 0.45***  \\
      & (0.02)  & (0.14)  & (0.02)   & (0.07)  & (0.07)   \\
educ  &         & 0.14*** & -0.03*** &         & 0.14***  \\
      &         & (0.01)  & (0.00)   &         & (0.01)   \\
imm   & 1.49*** &         &          & 7.48*** & 0.45***  \\
      & (0.02)  &         &          & (0.07)  & (0.07)   \\
N     & 523     & 523     & 11306    & 523     & 523      \\
R2    & 0.00    & 0.29    & 0.05     & -0.00   & 0.29     \\
\hline
\end{tabular}
\end{center}
\end{table}

In [42]:
print(summary_col([results17,results18,results19, results20, results21],stars=True,float_format='%0.2f', regressor_order=['black'],
                  model_names = ['(1)','(2)','(3)','(4)','(5)'], info_dict={'N':lambda x: "{0:d}".format(int(x.nobs)),
                             'R2':lambda x: "{:.2f}".format(x.rsquared)}).as_latex())

\begin{table}
\caption{}
\begin{center}
\begin{tabular}{lccccc}
\hline
      &        (1)         &   (2)   &   (3)   &         (4)         &   (5)    \\
\midrule
\midrule
const & 693496591611.64    & 1.75*** & 1.00*** & 28620898995166.74   & 0.87***  \\
      & (5555038726583.33) & (0.05)  & (0.00)  & (35724596864895.12) & (0.03)   \\
educ  &                    & 0.06*** & 0.00*** &                     & 0.06***  \\
      &                    & (0.00)  & (0.00)  &                     & (0.00)   \\
imm   & -693496591609.24   &         &         & -28620898995156.02  & 0.87***  \\
      & (5555038726583.35) &         &         & (35724596864895.25) & (0.03)   \\
N     & 983                & 983     & 983     & 983                 & 983      \\
R2    & -0.01              & 0.17    & -inf    & -0.01               & 0.17     \\
\hline
\end{tabular}
\end{center}
\end{table}

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/statsmodels/regression/linear_model.py:1543: RuntimeWarning: divide by zero encountered in double_scalars
  return 1 - self.ssr/self.centered_tss