In [83]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import statsmodels.api as sm
from stargazer.stargazer import Stargazer
import tabulate as tb
from statsmodels.iolib.summary2 import summary_col

In [2]:
df = pd.read_csv("ovb.csv")
df["const"] = 1
df.head()

,state,age,wagesal,imm,hispanic,black,asian,educ,wage,logwage,female,fedwkr,statewkr,localwkr,const
0,11,44,18000,0,0,0,0,14,9.109312,2.209297,1,1,0,0,1
1,11,39,18000,0,0,0,0,14,18.000000,2.890372,0,0,0,0,1
2,11,39,35600,0,0,0,0,12,17.115385,2.839978,0,0,0,1,1
3,11,39,8000,0,0,0,0,14,5.128205,1.634756,1,0,0,0,1
4,11,39,100000,0,0,0,0,16,38.461538,3.649659,0,1,0,0,1

In [44]:
## Women
##Women: Asian = 1, hispanic = 1, imm = 1
wasian = dfwomen[(dfwomen.asian == 1)  & (dfwomen.hispanic == 0)]

#Women: Hispanic = 1, imm = 1
whisp = dfwomen[(dfwomen.hispanic == 1) & (dfwomen.imm== 1)]

#Women: Other
wother = dfwomen[(dfwomen.black == 1) & (dfwomen.imm == 1)]
wasian.count()
df['hisp'] = 0
df.loc[(df.imm == 1) & (df.hispanic == 1), 'hisp'] = 1
df['as'] = 0
df.loc[(df.imm == 1) & (df.asian == 1) & (df.hispanic == 0), 'as'] = 1
df['oth'] = 0
df.loc[(df.imm == 1) & (df.asian == 0) & (df.hispanic == 0), 'oth'] = 1

In [67]:
dfwomen = df[df.female == 1]
dfmen = df[df.female == 0]

In [111]:
reg1 = sm.OLS(endog=dfwomen['logwage'], exog=dfwomen[['const', 'imm']],).fit()


reg2 = sm.OLS(endog=dfwomen['logwage'], exog=dfwomen[['const', 'educ']]).fit()


reg3 = sm.OLS(endog=dfwomen['imm'], exog=dfwomen[['const', 'educ']]).fit()


reg4 = sm.OLS(endog=dfwomen['educ'], exog=dfwomen[['const', 'imm']]).fit()


reg5 = sm.OLS(endog=dfwomen['logwage'], exog=dfwomen[['const', 'educ', 'imm']]).fit()

In [112]:
print(summary_col([reg1,reg2,reg3, reg4, reg5],stars=True,float_format='%0.2f', regressor_order=['black'],
                  model_names = ['(Logwage)','(Logwage)','(Logwage)','(Immigration Status)','(Education)'], info_dict={'N':lambda x: "{0:d}".format(int(x.nobs)),
                             'R2':lambda x: "{:.2f}".format(x.rsquared)}).as_latex())

\begin{table}
\caption{}
\begin{center}
\begin{tabular}{lccccc}
\hline
      & (Logwage) I & (Logwage) II & (Logwage) III & (Immigration Status) I & (Education) I  \\
\midrule
\midrule
const & 2.89***     & 1.23***      & 0.61***       & 14.45***               & 1.24***        \\
      & (0.01)      & (0.03)       & (0.02)        & (0.03)                 & (0.03)         \\
educ  &             & 0.11***      & -0.03***      &                        & 0.11***        \\
      &             & (0.00)       & (0.00)        &                        & (0.00)         \\
imm   & -0.18***    &              &               & -1.49***               & -0.01          \\
      & (0.02)      &              &               & (0.07)                 & (0.01)         \\
N     & 10601       & 10601        & 10601         & 10601                  & 10601          \\
R2    & 0.01        & 0.22         & 0.04          & 0.04                   & 0.22           \\
\hline
\end{tabular}
\end{center}
\end{table}

In [113]:
reg1 = sm.OLS(endog=dfmen['logwage'], exog=dfmen[['const', 'imm']],).fit()


reg2 = sm.OLS(endog=dfmen['logwage'], exog=dfmen[['const', 'educ']]).fit()


reg3 = sm.OLS(endog=dfmen['imm'], exog=dfmen[['const', 'educ']]).fit()


reg4 = sm.OLS(endog=dfmen['educ'], exog=dfmen[['const', 'imm']]).fit()


reg5 = sm.OLS(endog=dfmen['logwage'], exog=dfmen[['const', 'educ', 'imm']]).fit()

In [114]:
print(summary_col([reg1,reg2,reg3, reg4, reg5],stars=True,float_format='%0.2f', regressor_order=['black'],
                  model_names = ['(Logwage)','(Logwage)','(Logwage)','(Immigration Status)','(Education)'], info_dict={'N':lambda x: "{0:d}".format(int(x.nobs)),
                             'R2':lambda x: "{:.2f}".format(x.rsquared)}).as_latex())

\begin{table}
\caption{}
\begin{center}
\begin{tabular}{lccccc}
\hline
      & (Logwage) I & (Logwage) II & (Logwage) III & (Immigration Status) I & (Education) I  \\
\midrule
\midrule
const & 3.16***     & 1.61***      & 0.64***       & 14.19***               & 1.66***        \\
      & (0.01)      & (0.03)       & (0.02)        & (0.03)                 & (0.03)         \\
educ  &             & 0.11***      & -0.03***      &                        & 0.11***        \\
      &             & (0.00)       & (0.00)        &                        & (0.00)         \\
imm   & -0.24***    &              &               & -1.61***               & -0.07***       \\
      & (0.02)      &              &               & (0.07)                 & (0.01)         \\
N     & 11306       & 11306        & 11306         & 11306                  & 11306          \\
R2    & 0.02        & 0.22         & 0.05          & 0.05                   & 0.22           \\
\hline
\end{tabular}
\end{center}
\end{table}

In [108]:
#Women by et

reg = sm.OLS(dfwomen.logwage, dfwomen[['const','as','hisp','oth']]).fit()
reg1 = sm.OLS(dfwomen.logwage, dfwomen[['const','educ']]).fit()

reg2 = sm.OLS(dfwomen['as'], dfwomen[['const','educ']]).fit()

reg3 = sm.OLS(dfwomen['hisp'], dfwomen[['const','educ']]).fit()

reg4 = sm.OLS(dfwomen['oth'], dfwomen[['const','educ']]).fit()

reg5 = sm.OLS(dfwomen.educ, dfwomen[['const','as','hisp','oth']]).fit()

In [109]:
print(summary_col([reg,reg1,reg2, reg3, reg4,reg5],stars=True,float_format='%0.2f', regressor_order=['black'],
                  model_names = ['(Logwage)','(Logwage)','(Asian)','(Hispanic)','(Other)','Education'], info_dict={'N':lambda x: "{0:d}".format(int(x.nobs)),
                             'R2':lambda x: "{:.2f}".format(x.rsquared)}).as_latex())

\begin{table}
\caption{}
\begin{center}
\begin{tabular}{lcccccc}
\hline
      & (Logwage) I & (Logwage) II & (Asian) I & (Hispanic) I & (Other) I & Education I  \\
\midrule
\midrule
as    & 0.09***     &              &           &              &           & 0.51***      \\
      & (0.03)      &              &           &              &           & (0.12)       \\
const & 2.89***     & 1.23***      & -0.02**   & 0.63***      & -0.00     & 14.45***     \\
      & (0.01)      & (0.03)       & (0.01)    & (0.01)       & (0.01)    & (0.03)       \\
educ  &             & 0.11***      & 0.01***   & -0.04***     & 0.00***   &              \\
      &             & (0.00)       & (0.00)    & (0.00)       & (0.00)    &              \\
hisp  & -0.43***    &              &           &              &           & -3.42***     \\
      & (0.02)      &              &           &              &           & (0.09)       \\
oth   & 0.05        &              &           &              &           & 0.28**       \\
      & (0.03)      &              &           &              &           & (0.12)       \\
N     & 10601       & 10601        & 10601     & 10601        & 10601     & 10601        \\
R2    & 0.04        & 0.22         & 0.00      & 0.13         & 0.00      & 0.13         \\
\hline
\end{tabular}
\end{center}
\end{table}

In [115]:
##Men

reg = sm.OLS(dfmen.logwage, dfmen[['hisp','as','oth','const']]).fit()
reg1 = sm.OLS(dfmen.logwage, dfmen[['educ','const']]).fit()

reg2 = sm.OLS(dfmen['as'], dfmen[['educ','const']]).fit()

reg3 = sm.OLS(dfmen['hisp'], dfmen[['educ','const']]).fit()

reg4 = sm.OLS(dfmen['oth'], dfmen[['educ','const']]).fit()

reg5 = sm.OLS(dfmen.educ, dfmen[['const','as','hisp','oth']]).fit()

In [117]:
print(summary_col([reg,reg1,reg2, reg3, reg4,reg5],stars=True,float_format='%0.2f', regressor_order=['black'],
                  model_names = ['(Logwage)','(Logwage)','(Asian)','(Hispanic)','(Other)','Education'], info_dict={'N':lambda x: "{0:d}".format(int(x.nobs)),
                             'R2':lambda x: "{:.2f}".format(x.rsquared)}).as_latex())

\begin{table}
\caption{}
\begin{center}
\begin{tabular}{lcccccc}
\hline
      & (Logwage) I & (Logwage) II & (Asian) I & (Hispanic) I & (Other) I & Education I  \\
\midrule
\midrule
as    & 0.07**      &              &           &              &           & 1.26***      \\
      & (0.03)      &              &           &              &           & (0.12)       \\
const & 3.16***     & 1.61***      & -0.07***  & 0.74***      & -0.03***  & 14.19***     \\
      & (0.01)      & (0.03)       & (0.01)    & (0.01)       & (0.01)    & (0.03)       \\
educ  &             & 0.11***      & 0.01***   & -0.04***     & 0.01***   &              \\
      &             & (0.00)       & (0.00)    & (0.00)       & (0.00)    &              \\
hisp  & -0.47***    &              &           &              &           & -3.63***     \\
      & (0.02)      &              &           &              &           & (0.08)       \\
oth   & 0.01        &              &           &              &           & 0.67***      \\
      & (0.03)      &              &           &              &           & (0.12)       \\
N     & 11306       & 11306        & 11306     & 11306        & 11306     & 11306        \\
R2    & 0.05        & 0.22         & 0.01      & 0.17         & 0.01      & 0.18         \\
\hline
\end{tabular}
\end{center}
\end{table}